@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

h1,
h2,
h3 {
  font-family: 'Akaya Telivigala', serif;
  font-weight: normal;
  padding: .2em 0;
}

p {
  margin: 1.8em 0;
  line-height: 1.8em;
  font-size: 1.2em;
}
#labs a {
  margin-bottom: 4em;
}

h1 {font-size: 2.5em;}

h2 {font-size:2.0em;}

h3 {font-size: 1.5em;}



/*nav img {
  height: 32px;          
  width: auto;           
  object-fit: contain;
} */

header,
nav,
main,
#labs,
aside,
footer {
  padding: 1.5em;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  /*border: 1px rgb(195, 195, 195) solid;*/
}

a{
  color: rgb(255, 255, 255);
  background-color: #b647a5;
  padding: 8px 8px;      
  border-radius: 4px;      
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

aside h2{
  color: rgb(61, 61, 61);
}

nav {
  display: flex;
  align-items: center;     
  justify-content: space-between;
  height: 70px;            
  padding: 0 10px;
}

main img { 
  display: block;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
  width: 35%;
  height: auto;
  margin-bottom: 50px;
}

aside p{
  font-size: 1.0em;
}

header,
footer {
  text-align: center;
}

li {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.skip-link {
  background: black;
  color: #fff;
  font-weight: 700;
  padding: 4px;
  position: absolute;
  transform: translateY(-200%);
}

.skip-link:focus {
  transform: translateY(-100%);
}

.skip-link {
  /* Same as  before */
  transition: transform 0.3s;
}

.container {
grid-template-columns:
   1fr;
grid-template-areas:
  "heady"
  "navvy"
  "mainy"
  "aside1"
  "aside2"
  "labs"
  "footy";
}

header {grid-area: heady; background:rgb(247, 246, 241);}
nav {grid-area: navvy; background:rgb(255, 234, 253);}
main {grid-area: mainy; background: rgb(245, 244, 242); max-height: 100%;}
#aside1 {grid-area: aside1; background: rgb(247, 246, 241);}
#aside2 {grid-area: aside2; background: rgb(247, 246, 241);}
#labs {grid-area: labs; background: rgb(245, 244, 242);}
footer {grid-area: footy; background: rgb(255, 234, 253);}

nav img{
  height: auto;
  width: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 10px;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  list-style: none
}


@media screen and (min-width: 620px) {
.container {
grid-template-columns:
   1fr 1fr;
grid-template-areas:
  "heady heady"
  "navvy navvy"
  "mainy mainy"
  "aside1 aside2"
  "labs labs"
  "footy footy";
}
nav img{
  height: auto;
  width: 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  list-style: none
}
}

@media screen and (min-width: 1200px)  {
.container {
  margin: 0 auto;
  background: rgb(255, 255, 255);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns:
   1fr       2.5fr       1fr;
  grid-template-areas:
  "heady     heady     heady"
  "navvy     navvy     navvy"
  "aside1    mainy     aside2"
  "aside1    mainy     aside2"
  "aside1    mainy     aside2"
  "labs      labs      labs"
  "footy     footy     footy";
}

nav img{
  height: auto;
  width: 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  list-style: none
}
}