@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(177, 229, 255);
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

h1,
h2,
h3 {
  font-family: 'Akaya Telivigala', serif;
  font-weight: normal;
  padding: .2em 0;
}

p {
  margin: 1.8em 0;
  line-height: 1.8em;
  font-size: 1.2em;
}


h2 {font-size:2.0em;
    color: #0a164e;
}

h3 {font-size: 1.5em;
    color: #0a164e; 
}



/*nav img {
  height: 32px;          
  width: auto;           
  object-fit: contain;
} */

header,
nav,
main,
aside,
footer {
  padding: 1.5em;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  /*border: 1px rgb(195, 195, 195) solid;*/
}

main {
    padding-left: 30px;
    padding-right: 30px;
}

#aside2{
    padding-left: 40px;
    padding-right: 40px;
}

#aside1 {
    padding: 0;
}

#aside1 h2{
    padding-left: 20px;
    padding-top: 20px;
}

#aside1 li {
    padding-top: 20px;
   
}


a{
  color: rgb(0, 0, 0);
  padding: 8px 8px;          
  display: inline-block;
}

aside h2{
  color: #0a164e;
}

#star {
    font-size: 40px;
    color: #FFD21F;
    transition: 0.3s ease;
    -webkit-text-stroke: 2px #CC1F00; /* outline */
  }
  
#star:hover {
    color: rgb(228, 246, 255);
  }

#bullet {
    font-size: 20px;
    margin: 8px;
    color: #FFD21F;
    transition: 0.3s ease;
    -webkit-text-stroke: 2px #CC1F00; /* outline */
  }
  
#bullet:hover {
    color: rgb(228, 246, 255);
}

li a {
    text-decoration: none; /* removes underline */
  }


footer ul {  
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 0;
      padding: 0;
      
    }
    
ul li {
      list-style: none
    }


nav {
    display: flex;
  align-items: center;     /* centers logo + ul vertically */
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 3em;
  padding: 20px;
}

nav a {
    color: #0a164e;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
}

main img { 
  display: block;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
  width: 35%;
  height: auto;
}

aside p{
  font-size: 1.0em;
}

header,
footer {
  text-align: center;
}

.skip-link {
  background: black;
  color: #fff;
  font-weight: 700;
  padding: 4px;
  position: absolute;
  transform: translateY(-200%);
}

.skip-link:focus {
  transform: translateY(-100%);
}

.skip-link {
  /* Same as  before */
  transition: transform 0.3s;
}

.container {
grid-template-columns:
   1fr;
grid-template-areas:
  "heady"
  "navvy"
  "mainy"
  "aside1"
  "aside2"
  "footy";
}

header {grid-area: heady; background:rgb(26, 140, 211);}
nav {grid-area: navvy; background:rgb(191, 235, 255);}
main {grid-area: mainy; background: rgb(228, 246, 255); max-height: 100%;}
#aside1 {grid-area: aside1; background: rgb(228, 246, 255);}
#aside2 {grid-area: aside2; background: rgb(191, 235, 255);}
footer {grid-area: footy; background: rgb(228, 246, 255);}

nav {
    padding: 10px;
    margin: 5px;
}
header {
    padding: 0px;
}
h1 {font-size: 2em;
    font-weight: 800;
  color: #FFD21F;
  -webkit-text-stroke: 1px #CC1F00;
  text-shadow:
    0 0 4px rgba(0,0,0,.15),
    1px 1px 0 #CC1F00;                 /* fill color */
    }

nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 0px;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  list-style: none
}

nav a {
    font-size: 1em;
    margin: 0px;
    padding: 5px;
}


@media screen and (min-width: 620px) {
.container {
grid-template-columns:
   1fr 1fr;
grid-template-areas:
  "heady heady"
  "navvy navvy"
  "aside1 mainy"
  "aside1 mainy"
  "aside2 aside2"
  "footy footy";
}
nav {
    padding: 10px;
    margin: 5px;
}

header {
    padding: 10px;
}

h1 {font-size: 2.2em;
    font-weight: 800;
  color: #FFD21F;
  -webkit-text-stroke: 1px #CC1F00;
  text-shadow:
    0 0 4px rgba(0,0,0,.15),
    2px 1px 0 #CC1F00;                 /* fill color */
    }

nav {
    display: flex;
    align-items: center;     /* centers logo + ul vertically */
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 3em;
    padding: 20px;
  }

nav img{
  height: auto;
  width: 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 2px;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  list-style: none
}
}

@media screen and (min-width: 1200px)  {
.container {
  margin: 0 auto;
  display: grid;
  width: 100vw;
  height: 100vw;
  grid-template-columns:
   1fr       2.5fr;
  grid-template-areas:
  "heady     heady     heady"
  "navvy     navvy     navvy"
  "aside1    mainy     mainy"
  "aside1    mainy     mainy"
  "aside1    mainy     mainy"
  "aside2    aside2    aside2"
  "footy     footy     footy";
}

nav {
    padding: 10px;
    margin: 5px;
}

header {
    padding: 10px;
}

h1 {font-size: 2.5em;
    font-weight: 800;
  color: #FFD21F;
  -webkit-text-stroke: 1px #CC1F00;
  text-shadow:
    0 0 4px rgba(0,0,0,.15),
    2px 2px 0 #CC1F00;                 /* fill color */
    }

nav {
    display: flex;
    align-items: center;     /* centers logo + ul vertically */
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 3em;
    padding: 10px;
  }

#aside1 .aside-content {
    position: sticky;
    top: 20px; /* distance from top */
  }

nav img{
  height: auto;
  width: 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;     
  justify-content: right;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  list-style: none
}
}