body {
    font-family: Arial, sans-serif;
    background-color: #ffedfe;
    color: #373737;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff75e3;
}

h2 {
    color: #ff00ee;
}

ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #ff58f7;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
